@import "../scss/input";

.VideoPlayer {
  width: min(90vw, 800px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  video {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    transform: translateY(100%);

    .control-group {
      display: flex;
      align-items: center;

      .control-button {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    .control-group-btn {
      width: max-content;
    }

    .control-group-slider {
      flex-grow: 1;
      justify-content: space-between;
      @include customize-range-input(12px);
      gap: 1rem;
      width: 30%;

      .time {
        min-width: max-content;
      }
    }

    .control-group-volume {
      width: 25%;
      justify-content: space-evenly;
      gap: 0.5rem;
      @include customize-range-input(5px);

      @media screen and (max-width: 768px) {
        gap: 0.125rem;
      }
    }
  }

  @media screen and (max-width: 650px) {
    &__controls {
      flex-wrap: wrap;
      .control-group-slider {
        min-width: 100%;
        order: -1;
      }

      .control-group-btn {
        width: max-content;
        order: 1;
      }

      .control-group-volume {
        width: max-content;
        order: 2;
      }
    }
  }

  @media screen and (max-width: 460px) {
    &__controls {
      .control-group-volume {
        width: 45%;
      }
      .control-group-slider {
        gap: 0.5rem;
        .time {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media screen and (max-width: 380px) {
    &__controls {
      justify-content: center;
      .control-group-volume {
        width: 100%;
      }
    }
  }
}
