@import "../../scss/variables";

.Popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.Popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: min(600px, 95vw);
  overflow-y: auto;
  z-index: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1.5rem;

  input {
    padding: 0.5rem 1rem;
    border: 1px solid $accent-clr;
    outline: none;
    border-radius: 1rem;
    width: 100%;
    font-size: 1rem;
  }

  .play-btn {
    background-color: $accent-clr;
    border: none;
    outline: none;
    padding: 0.8rem;
    width: 120px;
    border-radius: 2rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    padding: 2rem 1rem;
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
