.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;

  .popup-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 29px 0px #bebebe;
    font-size: 1.5rem;
  }
}
